:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--Grey-900);
    color: var(--white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 320px;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: var(--Grey-800);
    border-radius: 10px;
    width: 90%;
    padding: 40px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px 20px;
}
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}
.card-content h1 {
    font-size: 28px;
    color: var(--white);
    margin-bottom: 0;
}
.card-content h2 {
    font-size: 18px;
    font-weight: 400;
    color: var(--green);
    margin-bottom: 10px;
}
.card-content p {
    font-size: 14px;
    color: var(--white);
    line-height: 1.5;
    margin-bottom: 5px;
}
.social-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-top: 10px;
}
.social-list a {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    background-color: var(--Grey-700);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}
.social-list a:hover {
    background-color: var(--green);
    color: var(--Grey-900);
}
